@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin wrapper {
  margin: 0 auto;
  min-width: 290px;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin font($f-size, $l-height) {
  font-size: $f-size;
  line-height: $l-height;
}
