$header-background: url("../img/sochi.png");
$site-list-background: #0d3351;
$f-family: "Roboto Slab", "Times New Roman", serif;
$munu-link: #ffffff;
$btn-bg: #33c7fd;
$link: #0d3351;
$catalog-link: #00a2dd;
