.catalog-list {
  list-style: none;
  @include reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list__catalog-item {
  position: relative;
  margin-bottom: 20px;

  &:nth-last-child(1) {
    margin-bottom: 25px;
  }

  &:nth-last-child(2) {
    margin-bottom: 25px;
  }
}

@media (max-width: 749px) {
  .catalog-list__catalog-item {
    margin-left: auto;
    margin-right: auto;
  }
}
