.main-nav {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/menu.png");
    width: 22px;
    height: 16px;
  }

  &:hover .main-nav__site-list {
    display: block;
  }

  &:focus .main-nav__site-list {
    display: block;
  }
}

.main-nav__site-list {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 100;
}
