.page-header {
  background-image: $header-background;
  background-color: #d3e7fa;
  padding-top: 30px;
  padding-bottom: 195px;
  background-size: cover;
}

.page-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 240px;
  background-image: url("../img/line-min.png");
  background-repeat: no-repeat;
  background-position: top 0 left 50%;
}

@media (min-width: 1170px) {
  .page-header::after {
    height: 300px;
    background-image: url("../img/line.png");
  }

}

.page-header__wrapper {
  @include wrapper;
}

.page-header__user-menu {
  margin-bottom: 15px;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.page-header__promo {
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-header__button {
  display: block;
  margin: 0 auto;
}
