.page-footer {
  padding: 30px 0;
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .page-footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 750px) {
  .page-footer__wrapper {
    flex-direction: row;
  }
}

.page-footer__social {
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 749px) {
  .page-footer__social {
    text-align: center;
    margin-right: 0;
  }
}

.page-footer__copyright {
  display: block;
  padding-top: 5px;
}

.page-footer__contacts {
  width: 250px;
}

@media (min-width: 320px) and (max-width: 749px) {
  .page-footer__contacts {
    text-align: center;
  }
}
