.user-nav {
  width: 515px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 749px) {
  .user-nav {
    display: none;
  }
}

.user-nav__login,
.user-nav__currency,
.user-nav__lang {
  display: block;
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  color: #0d3351;
}

.user-nav__login::after,
.user-nav__currency::after,
.user-nav__lang::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 5px;
  background-image: url(../img/down.png);
  top: 11px;
  right: 5px;
}


.user-nav__login::before,
.user-nav__currency::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  top: 6px;
  left: 0;
}

.user-nav__login::before {
  background-image: url(../img/user.png);
}

.user-nav__currency::before {
  background-image: url(../img/rub.png);
}
